<form method="POST" action="/posts">
  
  <h1>Posties! </h1>

  <label for="name">Name:</label><input type="text" id="name" name="name">
  <label for="content">Post:</label><input type="text" id="content" name="content">

  <input type="submit" id='submit' value="submit">

</form>
